/* Utils */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border {
    border: 2px dashed black;
}

section.gray {
    background-color: #D3D3D3;
}

/* Header */
header {
    background-color: #ADD8E6;
}

#header {
    height: 60px;
    width: 60%;
    margin: 0 auto;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header > * {
    background-color: goldenrod;
    padding: 10px;
}

.header-logo {
    flex-grow: 1;
}

.header-links {
    flex-grow: 2;
    text-align: center;
}

.header-links > a {
    text-decoration: none;
    color: black;
}

.header-login {
    flex-grow: 1;
}

/* Hero */
.hero {
    background-color: #00008B;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-box {
    background-color: #EE82EE;
    width: 40%;
    height: 80%;
}

/* 60-40 */
.container-sixtyforty {
    background-color: #fff;
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sixtyforty {
    height: 80%;
    width: 60%;
    display: flex;
}

.sixty {
    background-color: #1E90FF;
    width: 60%;
}

.forty {
    background-color: #FFC0CB;
    width: 40%;
}

/* Big Green Square */
.big-green {
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-box {
    background-color: #228B22;
    width: 60%;
    height: 90%;
}